// font & text
h1 {
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: darken($color: $light-font, $amount: 20%);
  text-decoration: none;
}

ul {
  list-style: none;
}

.gallery-title {
  h2 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }

  .line {
    width: 100%;
    height: 1px;
    background: $background;
  }
}

// page
.content {
  width: 85%;
  margin: auto;
}

.section-padding {
  padding: 64px 0 80px;
}

.whole-screen {
  min-height: 100vh;
}
