// font & text
h1 {
  font-weight: 700;
  font-size: 42px;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: darken($color: $light-font, $amount: 20%);
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-title {
  h2 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }

  .line {
    width: 100%;
    height: 1px;
    background: $background;
  }
}

// page
.content {
  width: 85%;
  margin: auto;
}

.section-padding {
  padding: 64px 0 0;
}

.whole-screen {
  min-height: 100vh;
}

// tablet
@media screen and (min-width: 600px) {
  // font & text
  h1 {
    font-size: 50px;
  }

  // //page
  // .content {
  //   width: 75%;
  // }
}
